header {
    height: 230px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    color: white;
    background-color: #121f3d;
}

.logo-title {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-title .logo-gambar {
    margin: 10px;
}

.divider{
    position: relative;
    width: 2px;
    height: 40px;
    margin-left: 1px;
    background-color: white;
}
.logo-title h2 {
    font-size: 20px;
    font-style: italic;
    margin-top: 5px;
    font-family: "Audiowide", sans-serif;
    margin-left: 4px;
}
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.search {
    margin-top: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search i {
    font-size: 20px;
    color: black;
    position: absolute;
    top: 93px;
    left: 20px;

}
.search .form-control{
    padding-left: 36px;
    width: 350px;
}

/* Carousel */
.carousel {
    position: absolute;
    top: -90px;
    margin: 20px;
    position: relative;
}
.carousel img {
    border: 1px solid white;
    margin-left: 4px;
    border-radius: 20px;
    background-size: cover;
    width: 320px;
}

.carousel__slider {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.carousel__slide {
    flex-shrink: 0;
    width: 100%;
    scroll-snap-align: center;
  }
  
.carousel__controls {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}
  
  .carousel__prev,
  .carousel__next {
    border: none;
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
    outline: none;
  }
  
  .carousel__indicators {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .carousel__indicator {
    width: 12px;
    height: 12px;
    border: none;
    border-radius: 50%;
    background-color: #ccc;
    margin-right: 10px;
    cursor: pointer;
    outline: none;
  }
  
  .carousel__indicator.active {
    background-color: #333;
  }
  
/* End Carousel */


.container {
    position: relative;
    top: -80px;
}

.card {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 135px;
    background-color: #282850;
    border-radius: 10px;
    color: white;
    padding-bottom: 15px;
}

.card .gambar-product img {
    border-radius: 10px;
    position: relative;
    top: -45px;
}
.card p{
    position: absolute;
    top: 55px;
    font-size: 10px;
}
.card .title-product h5{
    font-weight: bold;
    font-size: 12px;
}